#home{
    background: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    min-height: 800px;
    /* background-image: url(../assets/background.jpg); */
}

#home .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 800px;
    background: rgba(0, 0, 0, 0.7);
}