#home{
    background: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* background-size: contain; */
    width: 100%;
    height: auto;
}

#home .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
}